.photo-card {
  position: relative;
}

.back-button {
  position: absolute;
  top: 40%;
  left:3%;
  cursor: pointer;
}

.forward-button {
  position: absolute;
  top: 40%;
  right: 3%;
  cursor: pointer;
}

.nav-button {
  color: rgba(256, 256, 256, .6) !important;
}


@media(min-width: 550px){
  .nav-button {
    color: #666 !important;
  }

  .back-button {
    left:-1%;
  }

  .forward-button {
    right: -1%;
  }

  .nav-button-inactive {
    color: #ddd !important;
    cursor: default !important;
    pointer-events: none !important;
  }
} 